@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Incidentes";
}

@section Scripts {
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
}

<div class="container-incidentes">
    <div class="incidentes-title">
        <div class="rectangle-title">
            <span class="container-span-title"> Comunidades </span>
        </div>
    </div>
    <div class="incidentes-data">
        <div class="container-table">
            @foreach (var participacion in ViewBag.Participaciones)
            {
                <div class="informe-incidente" style="width:800px;">
                    <span class="title-card">@participacion.Comunidad</span>
                    <div class="actions-incidente" style="display: flex;">
                        @using (Html.BeginForm("CambiarRol", "Comunidades", FormMethod.Post))
                        {
                            <select class="form-select" style="margin-right: 5px;" aria-label="Disabled select example" onchange="this.form.submit()" name="Rol">
                                @foreach (var rol in ViewBag.Roles)
                                {
                                    @if (rol.Id == participacion.Rol)
                                    {
                                        <option selected value="@rol.Id">@rol.Text</option>

                                    }
                                    else
                                    {
                                        <option value="@rol.Id">@rol.Text</option>

                                    }
                                }
                            </select>
                            <input type="hidden" name="Participacion" value="@participacion.Id" />

                        }
                        <button type="button" class="btn btn-warning btn-50px">Mas</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
