@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "Incidentes";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/jstr/loginConoller.js")"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

}


<div class="container-rankings">
    <div class="rankings-title">
        <div class="rectangle-title">
            <span class="container-span-title"> RANKINGS </span>
        </div>
    </div>
    <div class="rankings-data">
        <form class="agregar" asp-area="" asp-controller="Rankings" asp-action="index" method="post">
            <div class="container-filters">
                <h1>Filtros</h1>
                <span class="span-filters">Ranking</span>
                <div class="mb-3">
                    <select class="form-select" aria-label="Disabled select example" name="tipo">
                        @foreach (var tipo in ViewBag.TiposRanking)
                        {
                            <option value="@tipo.Id">@tipo.Text</option>
                        }
                    </select>
                    <input type="date" placeholder="Desde" name="fechaInicio" />
                    <input type="date" placeholder="Hasta" name="fechaFin" />
                </div>
                <button class="button">Buscar</button>
            </div>
        </form>

        <div class="container-table">
            <div id="accordion">
                <!-- Panel 1 -->
                @foreach (var item in ViewBag.Rankings)
                {
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    @(item.TipoRanking.ToString()) - @(item.Fecha.ToString())
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <table class="table table-dark large-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Entidad</th>
                                            <th scope="col">Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < item.Ranking.Count; i++)
                                        {
                                            <tr>
                                                <th scope="row"> @((i + 1).ToString())</th>
                                                <td>@item.Ranking[i].Entidad</td>
                                                <td>@item.Ranking[i].Valor</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }             
            </div>
        </div>
    </div>
</div>
